<% include ./partials/header.ejs %>
<div class="w-full min-h-screen bg-zinc-800 flex justify-center items-center">
    <div class="">
        <div class="w-[800px] h-[600px] bg-zinc-800 rounded-xl flex justify-center items-center">
            <form action="/login" method="post">
                <div class="flex justify-center items-center">
                    <div class="instaName w-48 h-[70px] bg-cover overflow-hidden ">
                        <img class="" src="/images/logo.png" alt="">
                     </div> 
                </div>
                <input class="block bg-zinc-200 text-black m-5 w-[500px] py-2 rounded-xl px-5 "type="text" name="username" placeholder="username">
                <input class="block bg-zinc-200 text-black m-5 w-[500px] py-2 rounded-xl px-5 "type="password" name="password" placeholder="password">
                <input class="block bg-blue-600 text-black m-5 w-[500px] py-2 rounded-xl  "type="submit" value="submit">
                <span>
                      
                    <p class="text-white ml-5">if Already Exist Account so ? <a class="text-blue-600" href="/">Create Account</a></p> 
                  </span>
            </form>
        </div>
    </div>
    
</div>
<% include ./partials/footer.ejs %>