<% include ./partials/header.ejs %>

<div class="w-full bg-zinc-800 min-h-screen text-white">


    <div class="inputWithiconSearch px-1 py-10">

        <div class="relative flex items-center ml-2 ">

            <i class="absolute px-2 text-white ri-search-line"></i>
         <input id="inputusername" class=" px-20 py-1 rounded-xl bg-zinc-900 border-none mr-10" type="text">

        </div>

    </div>


    <div class="users">

      

    </div>

</div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.3/axios.min.js"></script>

<script>

const inp = document.querySelector("#inputusername");

let clutter="";
inp.addEventListener("input", function(){
    axios.get(`/username/${inp.value}`)
    .then(function(data){
        clutter="";
        data.data.forEach(function(elem){

            clutter += `<a href='/profile'>
            <div class="flex flex-row gap-2 items-center">
                <div class="h-20 w-20 rounded-full overflow-hidden bg-cover">
             <img class="w-full h-full object-cover" src='/images/uploads/${elem.ProfileImage}'>           
            </div>
             <h1>${elem.username}</h1>
             </div>
         </a>`

        });
        document.querySelector(".users").innerHTML = clutter;


    });
});

</script>
    



<% include ./partials/footer.ejs %>


